{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .mainform-component{
        justify-content: center;
        align-items: center;
    }
    form {
        box-shadow: 5px 10px 20px gray;
        width: 300px;

    }

    .person {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .formcomponent {
        justify-content: center;
    }
</style>

<body>
    {% csrf_token %}
    <section class="mainform-component">

        <form action="submit.django" method="post">
            <div class="formcomponent">
                <div class="person">
                    <h2>Shakil</h2>
                    <input type="radio" name="Shakil" value="1"> 1
                    <input type="radio" name="Shakil" value="2"> 2
                    <input type="radio" name="Shakil" value="3"> 3
                </div>
                <div class="person">
                    <h2>Sadik</h2>
                    <input type="radio" name="Sadik" value="1"> 1
                    <input type="radio" name="Sadik" value="2"> 2
                    <input type="radio" name="Sadik" value="3"> 3
                </div>

                <div class="person">
                    <h2>Babu</h2>
                    <input type="radio" name="Babu" value="1"> 1
                    <input type="radio" name="Babu" value="2"> 2
                    <input type="radio" name="Babu" value="3"> 3<br>

                </div>
                <div class="person">
                    <input type="submit" value="Submit">
                </div>

            </div>

        </form>
    </section>
</body>

</html>