{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .person {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .person,
    h2 {
        margin: 5px;
        font-size: 20px;
    }
</style>

<body>
    {% csrf_token %}
    <section class="mainform-component">

        <form action="submit.django" method="post">
            <label class="person">
                <div class="name">
                    <h2>Shakil</h2>
                </div>
                <form class="button">
                    <input type="radio" name="number1" value="1"> 1
                    <input type="radio" name="number1" value="2"> 2
                    <input type="radio" name="number1" value="3"> 3
                </form>
            </label>
            <label class="person">
                <div class="name">
                    <h2>Sadik</h2>
                </div>
                <form class="button">
                    <input type="radio" name="number1" value="1"> 1
                    <input type="radio" name="number1" value="2"> 2
                    <input type="radio" name="number1" value="3"> 3
                </form>
            </label>
            <label class="person">
                <div class="name">
                    <h2>Babu</h2>
                </div>
                <form class="button">
                    <input type="radio" name="number1" value="1"> 1
                    <input type="radio" name="number1" value="2"> 2
                    <input type="radio" name="number1" value="3"> 3
                </form>
            </label>


            <input type="submit" value="Submit">
        </form>






    </section>
</body>

</html>