<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .mill-amount{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    h4{
        margin: 5px;
    }
    .main-form{
        width: 300px;
        align-content: center;
        border: 2px solid black;
    }
    .mainfrom-component{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
</style>
<body>
    <section class="mainfrom-component">
        <div class="main-form">
            <form>
                <div class="mill-amount">
                    <h4>Shakil</h4> 
                    <div>
                        <label for="input">
                            <input type="radio" name="shakil" value="1">1
                            <input type="radio" name="shakil" value="2">2
                            <input type="radio" name="shakil" value="3">3
                        </label>
                    </div>
                </div>     
            </form>
            <form>
                <div class="mill-amount">
                    <h4>Shakil-Guest</h4> 
                    <div>
                        <label for="input">
                            <input type="radio" name="shakil" value="1">1
                            <input type="radio" name="shakil" value="2">2
                            <input type="radio" name="shakil" value="3">3
                        </label>
                    </div>
                </div>     
            </form>
            <form>
                <div class="mill-amount">
                    <h4>Sadik</h4> 
                    <div>
                        <label for="input">
                            <input type="radio" name="sadik" value="1">1
                            <input type="radio" name="sadik" value="2">2
                            <input type="radio" name="sadik" value="3">3
                        </label>
                    </div>
                </div>     
            </form>
            <form>
                <div class="mill-amount">
                    <h4>Sadik-Guest</h4> 
                    <div>
                        <label for="input">
                            <input type="radio" name="sadik" value="1">1
                            <input type="radio" name="sadik" value="2">2
                            <input type="radio" name="sadik" value="3">3
                        </label>
                    </div>
                </div>     
            </form>
        </div>
    </section>
</body>
</html>