<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <a href="http://127.0.0.1:8000/">HOME</a>
            <a href="http://127.0.0.1:8000/submit-form/">MEAL</a>
            <a href="http://127.0.0.1:8000/submit-form">PREDECTIONS</a>
            <a href="http://127.0.0.1:8000/admin">ADMIN</a>

        </ul>
    </nav>
    <!-- {% csrf_token %} -->
    <h1>{{millrate}}</h1>
    <h1>{{masage}}</h1>
</body>

</html>